# Prathit Narayan Singh

In [ ]:
import pandas as pd
df = pd.read_csv("/content/movies.csv")
df.head()

       id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
0  135397  tt0369610   32.985763  ...          2015  1.379999e+08  1.392446e+09
1   76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2  262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3  140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4  168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09

[5 rows x 21 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [ ]:
df[['popularity','budget','revenue', 'original_title','runtime', 'genres','vote_count','vote_average','release_year']]

       popularity     budget  ...  vote_average release_year
0       32.985763  150000000  ...           6.5         2015
1       28.419936  150000000  ...           7.1         2015
2       13.112507  110000000  ...           6.3         2015
3       11.173104  200000000  ...           7.5         2015
4        9.335014  190000000  ...           7.3         2015
...           ...        ...  ...           ...          ...
10861    0.080598          0  ...           7.4         1966
10862    0.065543          0  ...           5.7         1966
10863    0.065141          0  ...           6.5         1966
10864    0.064317          0  ...           5.4         1966
10865    0.035919      19000  ...           1.5         1966

[10866 rows x 9 columns]

Question 1-Which are the movies with the third lowest and third highest budget?

Ans-

In [ ]:
moviedata=df.drop_duplicates(subset=['budget'],keep="first")
l=moviedata['budget'].values
m=df[df['budget']==sorted(l)[2]]
moviedata.nsmallest(3,'budget')
m[['original_title','budget']]

     original_title  budget
8944   Death Wish 2       2

In [ ]:
n=df[df['budget']==sorted(l)[-3]]
df.nlargest(3, 'budget')
n[['original_title','budget']]

                                original_title     budget
7387  Pirates of the Caribbean: At World's End  300000000

Question 2-What is the average number of words in movie titles between the year 2000-2005?

Ans-

In [ ]:
w = df[(df['release_year'] >=2000) & (df['release_year'] <=2005)] 
w

NameError: ignored

In [ ]:
sum=0
a=w['original_title'].values
for i in a:
    sum=sum+len(i)
        
print("Average number of words in movie titles between the year 2000-2005 is: ",sum/len(a))

Average number of words in movie titles between the year 2000-2005 is:  16.163604030823947

Question 3-What is the most common Genre for Vin Diesel & Emma Watson movies?*

Ans-

In [ ]:
#pd=df['cast'].values
#pd

Question 4-Which are the movies with most and least earned revenue?

Ans-

In [ ]:
moviedf=df.drop_duplicates(subset=['revenue'],keep="first")
p=moviedf.nsmallest(1,'revenue')
p[['original_title','revenue']]

   original_title  revenue
48      Wild Card        0

In [ ]:
k=moviedf.nlargest(1,'revenue')
k[['original_title','revenue']]

     original_title     revenue
1386         Avatar  2781505847

Question 5-What is the average runtime of movies in the year 2006?

Ans:-

In [ ]:
releas_year=df[df['release_year']==2006]
releas_year

         id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
6554    834  tt0401855    5.838503  ...          2006  5.408346e+07  1.204339e+08
6555     58  tt0383574    4.205992  ...          2006  2.163338e+08  1.152691e+09
6556    920  tt0317219    3.941265  ...          2006  1.298003e+08  4.997129e+08
6557  36557  tt0381061    3.789580  ...          2006  1.622504e+08  6.479695e+08
6558    591  tt0382625    3.655536  ...          2006  1.352086e+08  8.201647e+08
...     ...        ...         ...  ...           ...           ...           ...
6957    286  tt0853060    0.013578  ...          2006  0.000000e+00  0.000000e+00
6958  33753  tt0457936    0.012132  ...          2006  0.000000e+00  0.000000e+00
6959  24115  tt0462346    0.153217  ...          2006  0.000000e+00  1.408631e+07
6960  20605  tt0821470    0.005412  ...          2006  2.920507e+06  0.000000e+00
6961  15412  tt0466460    0.001115  ...          2006  0.000000e+00  0.000000e+00

[408 rows x 21 columns]

In [ ]:
t=0
b=releas_year['runtime'].values
for i in range(0,len(b)):
    t=t+b[i]
print("Average runtime of movies in the year 2006 is: ",t/len(b))

Average runtime of movies in the year 2006 is:  101.68382352941177

Question 6-Name any 3 production companies which have invested money in worse revenue movies?

Ans-

In [ ]:
p=df.nsmallest(3,'revenue')
p

        id    imdb_id  popularity  ...  release_year    budget_adj revenue_adj
48  265208  tt2231253    2.932340  ...          2015  2.759999e+07         0.0
67  334074  tt3247714    2.331636  ...          2015  1.839999e+07         0.0
74  347096  tt3478232    2.165433  ...          2015  0.000000e+00         0.0

[3 rows x 21 columns]

In [ ]:
e=p['production_companies'].values
print('Three production companies which have invested money in worse revenue movies are: ','\n\n1)',e[0],'\n\n2)',e[1],'\n\n3)',e[2])

Three production companies which have invested money in worse revenue movies are:

1) Current Entertainment|Lionsgate|Sierra / Affinity|SJ Heat Productions|Silver State Production Services

2) Nu Image Films|Winkler Films|Millennium Films|Survivor Productions

3) Arrowstorm Entertainment